---
layout: base.njk
---

{% if image %}
<p style="text-align: center;">
    <img src="{{ image }}" alt="{{ title }}" style="max-width: 100%; height: auto;">
</p>
{% endif %}

{% if authorId %}
{% set author = members | selectattr("id", "equalto", authorId) | first %}

{% if author %}
<p>
    <i>
        By {{ author.name }} · {{ date | date }}
    </i>
</p>
{% endif %}
{% endif %}

{{ content | safe }}